<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AI Mental Health Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="container">
    <h1>AI-Based Mental Health Analyzer</h1>
    <p class="subtitle">Analyze emotional tone using AI-powered text analysis</p>

    <form method="POST">
      <textarea name="text" placeholder="Enter your thoughts here..." required></textarea>
      <button type="submit">Analyze</button>
    </form>


    <!-- Output Section -->
    <div class="output">
      <div class="result">
        <span>Detected Emotion</span>
        <strong class="emotion">{{ result if result else "--" }}</strong>
      </div>

      <div class="result">
        <span>Mental Health Risk</span>
        <strong class="risk">{{ risk if risk else "--" }}</strong>
      </div>

      <div class="result">
        <span>Mental State</span>
        <strong class="Mental_State">{{ Mental_State if Mental_State else "--" }}</strong>
      </div>


      <div class="chatbot">
        <strong>AI Feedback</strong>
        <p>{{ bot_reply if bot_reply else "Hi there 👋 How are you feeling today?" }}</p>
      </div>
    </div>

    <p class="disclaimer">
      ⚠ Disclaimer: This is not a medical diagnosis system.
    </p>
  </div>

</body>
</html>
