<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AI Mental Health Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="container">
    <h1>AI-Based Mental Health Analyzer</h1>
    <p class="subtitle">Analyze emotional tone using AI-powered text analysis</p>

    <textarea placeholder="Enter your thoughts here..."></textarea>

    <button>Analyze</button>

    <!-- Output Section -->
    <div class="output">
      <div class="result">
        <span>Detected Emotion</span>
        <strong class="emotion">--</strong>
      </div>

      <div class="result">
        <span>Mental Health Risk</span>
        <strong class="risk low">--</strong>
      </div>

      <div class="result">
        <spam>Mental_state</spam>
        <strong class="Mental_State">--</strong>
      </div>


      <div class="chatbot">
        <strong>AI Feedback</strong>
        <p>Hi, There how was you feeling today</p>
      </div>
    </div>

    <p class="disclaimer">
      ⚠ Disclaimer: This is not a medical diagnosis system.
    </p>
  </div>

</body>
</html>
