body {
    font-family: Arial;
    background-color: greenyellow;
    text-align: center;
}

textarea {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: dimgrey;
}
