body {
    font-family: Arial;
    background-color: rgb(47, 193, 255);
    text-align: center;
}

textarea {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(24, 109, 221, 0.704);
}
